fastapi~=0.115.11
flask~=3.1.1
Flask-SQLAlchemy~=3.1.1
requests~=2.32.3
tkcalendar~=1.6.1
alembic~=1.13.3
pydantic~=2.10.6
pydantic-settings~=2.6.1
email-validator~=2.2.0
uvicorn[standard]
sqlalchemy~=2.0.39
PyMySQL==1.1.1
aiomysql==0.2.0
aiofiles~=22.1.0
pyodbc
aioodbc
python-dotenv
httpx~=0.28.1
rich
asgi-correlation-id~=4.3.4
python-json-logger
python-jose~=3.4.0
python-multipart
pwdlib[argon2]~=0.2.1
vine==5.1.0
celery>=5.5.2
redis
jsonpointer==2.1
docker
